        <div class="header">
    <p>
        <img src=/images/logo.png>
    </p>

			</div>

    <div class="nav">
        <ul>
            
            <li class="current"><a href="/index.html">Home</a></li>

				<li> <a href="/stories">Stories</a></li>

				<li> <a href="/china-tours">Tours</a></li>

            <li> <a href="/get-in-touch">Get in Touch</a></li>
            
        </ul>
    </div>
<div class="lang">

<a href="/"><img  src=/images/uk.png></img></a>
<a href="/fr"><img  src=/images/france.png></img></a>
<a href="/cn"><img href="/cn" src=/images/china.png></img></a>

</div>